body {
    font: bold 20px Arial;
    text-align: none;
    background: rgb(250, 240, 223);
    padding: 0;
    margin: 0;
}

div#border {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 16.2cm;
    height: 22cm;
    /* border: 5px solid black;
    border-radius: 8px; */
    /* box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.39); */
    margin-bottom: -20px;
}

img {
    position: relative;
    align-items: center;
    transform: scale(0.8);
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

h1 {
    margin: auto;
    font-family: Roboto, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

section {
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    width: 500px;
    height: 235px;
    padding: 20px;
}

input {
    width: 200px;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

div#result {

    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 2px;
    padding: 2px;
    height: 100px;
    overflow: hidden;
}

div#result p {
    align-items: center;
    text-align: center;
    justify-content: center;
    font: bold 20px Arial;
    margin-top: 15px;
    margin-bottom: -3px;
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 900 */

.inconsolata-<uniquifier> {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}